{
  "rpcAddr": "http://localhost:8545",
  "gasPrice": 100000000000,
  "ownerAccountAddr": "<contracts admin account>",
  "daemonAccountAddr": "<daemons account>",
  "feesAccountAddr": "<fees collecting account>",
  "daiTokenAddr": "<DAI token address>",
  "registryAddr": "<address>",
  "feedContractAddr": "<address>",
  "cfdFactoryContractAddr": "<address>",
  "cfdRegistryContractAddr": "<address>"
}
