{
  "network": "kovan",
  "rpcAddr": "https://kovan.infura.io/v3/<apikey>",
  "hdWalletMnemonic": "<mnemonic>",
  "gasDefault": 2000000,
  "gasPrice": 2000000000,
  "ownerAccountAddr": "<address>",
  "daemonAccountAddr": "<address>",
  "feesAccountAddr": "<address>",
  "daiTokenAddr": "0xc4375b7de8af5a38a93548eb8453a498222c4ff2",
  "registryAddr": "<address>",
  "feedContractAddr": "<address>",
  "cfdRegistryContractAddr": "<address>",
  "cfdFactoryContractAddr": "<address>"
}
